---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_16bwHbEEmXoFagV2JMvJ9DO1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_yraDvIWvJWJgs3LbHayQw1Os
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-07-13'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_16bwHbEEmXoFagV2JMvJ9DO1",
          "created": 1440089575,
          "livemode": false,
          "type": "charge.succeeded",
          "data": {
            "object": {
              "id": "ch_16bwHbEEmXoFagV2jCCc4GG3",
              "object": "charge",
              "created": 1440089575,
              "livemode": false,
              "paid": true,
              "status": "succeeded",
              "amount": 999,
              "currency": "eur",
              "refunded": false,
              "source": {
                "id": "card_16bwHYEEmXoFagV2PApOylWt",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 8,
                "exp_year": 2016,
                "fingerprint": "j3yuCLZD8rGsbXsr",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "tokenization_method": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_6pbUirBiejEuoo"
              },
              "captured": true,
              "balance_transaction": "txn_16bwHbEEmXoFagV24NZ4hJm1",
              "failure_message": null,
              "failure_code": null,
              "amount_refunded": 0,
              "customer": "cus_6pbUirBiejEuoo",
              "invoice": "in_16bwHbEEmXoFagV2dsYkuQ7b",
              "description": null,
              "dispute": null,
              "metadata": {},
              "statement_descriptor": "Basic Plan",
              "fraud_details": {},
              "receipt_email": null,
              "receipt_number": null,
              "shipping": null,
              "destination": null,
              "application_fee": null,
              "refunds": {
                "object": "list",
                "total_count": 0,
                "has_more": false,
                "url": "/v1/charges/ch_16bwHbEEmXoFagV2jCCc4GG3/refunds",
                "data": []
              }
            }
          },
          "object": "event",
          "pending_webhooks": 0,
          "request": "req_6pbUdKg0NwwZ4R",
          "api_version": "2015-07-13"
        }
  recorded_at: Thu, 20 Aug 2015 21:38:09 GMT
recorded_with: VCR 2.9.3
