---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000002&card[exp_month]=7&card[exp_year]=2016&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_yraDvIWvJWJgs3LbHayQw1Os
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-07-13'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_16UgDkEEmXoFagV2WgcmKPhx",
          "livemode": false,
          "created": 1438359536,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_16UgDkEEmXoFagV2yv8tKvSH",
            "object": "card",
            "last4": "0002",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 7,
            "exp_year": 2016,
            "fingerprint": "dFlojXKzldj2EgIA",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "unchecked",
            "address_line1_check": null,
            "address_zip_check": null,
            "tokenization_method": null,
            "dynamic_last4": null,
            "metadata": {}
          },
          "client_ip": "83.55.209.106"
        }
  recorded_at: Fri, 31 Jul 2015 16:18:56 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=eur&source=tok_16UgDkEEmXoFagV2WgcmKPhx&description=test%20charge
    headers:
      Authorization:
      - Bearer sk_test_yraDvIWvJWJgs3LbHayQw1Os
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-07-13'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_16UgDqEEmXoFagV2Q0AkNuuI"
          }
        }
  recorded_at: Fri, 31 Jul 2015 16:19:02 GMT
recorded_with: VCR 2.9.3
