---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=eur&source=tok_16Zr7UEEmXoFagV2EjL6qt3L&description=Example%20charge
    headers:
      Authorization:
      - Bearer sk_test_yraDvIWvJWJgs3LbHayQw1Os
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-07-13'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_16Zr7YEEmXoFagV2KAsTpMc0"
          }
        }
  recorded_at: Fri, 14 Aug 2015 22:57:43 GMT
recorded_with: VCR 2.9.3
