---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=eur&source=tok_16ZqahEEmXoFagV2FBqvUkt0&description=Example%20charge
    headers:
      Authorization:
      - Bearer sk_test_yraDvIWvJWJgs3LbHayQw1Os
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-07-13'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_16ZqaiEEmXoFagV2rpRljzPQ",
          "object": "charge",
          "created": 1439591040,
          "livemode": false,
          "paid": true,
          "status": "succeeded",
          "amount": 999,
          "currency": "eur",
          "refunded": false,
          "source": {
            "id": "card_16ZqahEEmXoFagV2kMKMCwec",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 7,
            "exp_year": 2018,
            "fingerprint": "j3yuCLZD8rGsbXsr",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null,
            "tokenization_method": null,
            "dynamic_last4": null,
            "metadata": {},
            "customer": null
          },
          "captured": true,
          "balance_transaction": "txn_16ZqaiEEmXoFagV2QOWJ9n86",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": null,
          "invoice": null,
          "description": "Example charge",
          "dispute": null,
          "metadata": {},
          "statement_descriptor": null,
          "fraud_details": {},
          "receipt_email": null,
          "receipt_number": null,
          "shipping": null,
          "destination": null,
          "application_fee": null,
          "refunds": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/charges/ch_16ZqaiEEmXoFagV2rpRljzPQ/refunds",
            "data": []
          }
        }
  recorded_at: Fri, 14 Aug 2015 22:23:48 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=eur&source=tok_16Zqy9EEmXoFagV2biwljp5M&description=Example%20charge
    headers:
      Authorization:
      - Bearer sk_test_yraDvIWvJWJgs3LbHayQw1Os
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-07-13'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_16ZqyDEEmXoFagV2rcUzKRoF"
          }
        }
  recorded_at: Fri, 14 Aug 2015 22:48:05 GMT
recorded_with: VCR 2.9.3
