---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=7&card[exp_year]=2016&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_yraDvIWvJWJgs3LbHayQw1Os
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-07-13'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_16boxXEEmXoFagV2XSPgqTiL",
          "livemode": false,
          "created": 1440061423,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_16boxXEEmXoFagV2BW6lLxfe",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 7,
            "exp_year": 2016,
            "fingerprint": "j3yuCLZD8rGsbXsr",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "unchecked",
            "address_line1_check": null,
            "address_zip_check": null,
            "tokenization_method": null,
            "dynamic_last4": null,
            "metadata": {}
          },
          "client_ip": "83.47.87.212"
        }
  recorded_at: Thu, 20 Aug 2015 09:03:26 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: source=tok_16boxXEEmXoFagV2XSPgqTiL&plan=basic&email=eladio%40durgan.org
    headers:
      Authorization:
      - Bearer sk_test_yraDvIWvJWJgs3LbHayQw1Os
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-07-13'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1440061424,
          "id": "cus_6pTvaoVPcK2Qet",
          "livemode": false,
          "description": null,
          "email": "eladio@durgan.org",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_6pTvaoVPcK2Qet/subscriptions",
            "data": [
              {
                "id": "sub_6pTv2HyG2LGxOW",
                "plan": {
                  "interval": "month",
                  "name": "Basic Plan",
                  "created": 1440058651,
                  "amount": 999,
                  "currency": "eur",
                  "id": "basic",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_descriptor": "Basic Plan"
                },
                "object": "subscription",
                "start": 1440061424,
                "status": "active",
                "customer": "cus_6pTvaoVPcK2Qet",
                "cancel_at_period_end": false,
                "current_period_start": 1440061424,
                "current_period_end": 1442739824,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "tax_percent": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "eur",
          "sources": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_6pTvaoVPcK2Qet/sources",
            "data": [
              {
                "id": "card_16boxXEEmXoFagV2BW6lLxfe",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 7,
                "exp_year": 2016,
                "fingerprint": "j3yuCLZD8rGsbXsr",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "tokenization_method": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_6pTvaoVPcK2Qet"
              }
            ]
          },
          "default_source": "card_16boxXEEmXoFagV2BW6lLxfe"
        }
  recorded_at: Thu, 20 Aug 2015 09:03:27 GMT
recorded_with: VCR 2.9.3
