---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000002&card[exp_month]=7&card[exp_year]=2016&card[cvc]=314
    headers:
      Authorization:
      - Bearer sk_test_yraDvIWvJWJgs3LbHayQw1Os
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-07-13'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_16boxSEEmXoFagV2nk4SXzLu",
          "livemode": false,
          "created": 1440061418,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_16boxSEEmXoFagV26e9ZeIei",
            "object": "card",
            "last4": "0002",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 7,
            "exp_year": 2016,
            "fingerprint": "dFlojXKzldj2EgIA",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "unchecked",
            "address_line1_check": null,
            "address_zip_check": null,
            "tokenization_method": null,
            "dynamic_last4": null,
            "metadata": {}
          },
          "client_ip": "83.47.87.212"
        }
  recorded_at: Thu, 20 Aug 2015 09:03:21 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: source=tok_16boxSEEmXoFagV2nk4SXzLu&plan=basic&email=cortney%40mohrhuel.net
    headers:
      Authorization:
      - Bearer sk_test_yraDvIWvJWJgs3LbHayQw1Os
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-07-13'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "param": "",
            "code": "card_declined"
          }
        }
  recorded_at: Thu, 20 Aug 2015 09:03:22 GMT
recorded_with: VCR 2.9.3
